/* Usar la fuente Lacquer */
.title-lacquer {
    font-family: 'Lacquer', sans-serif;
    font-size: 2.5em;
    color: #333;
}

/* Usar la fuente Bokor */
.paragraph-bokor {
    font-family: 'Bokor', cursive;
    font-size: 1.5em;
    color: #666;
}
